<div class="basiccontainer">
<h1>About Artisanat!</h1>
<h3>Artisanat is an Etsy-like online Marketplace for buying and selling handmade goods!</h3>
Artisanat is a french word that can mean "Artisan", or "handcraft".  
<a href="www.howtopronounce.com/french/artisanat/">How to pronounce it!</a>


</div>




